{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Code Field plugin for Craft CMS
 *
 * Code Field Settings
 *
 * @author    nystudio107
 * @copyright Copyright (c) 2022 nystudio107
 * @link      https://nystudio107.com
 * @package   CodeField
 * @since     3.0.0
 */
#}

{% import "_includes/forms" as forms %}
{% import "codeeditor/codeEditor" as codeEditor %}

{% do view.registerAssetBundle("nystudio107\\codefield\\assetbundles\\codefield\\CodeFieldAsset") %}

{{ forms.selectField({
    label: "Code Field Theme"|t("codefield"),
    instructions: "The theme to use for the Code Editor field."|t("codefield"),
    id: "theme",
    name: "theme",
    value: field.theme,
    options: [
        { value: "vs", label: "Visual Studio Light"|t("codefield") },
        { value: "vs-dark", label: "Visual Studio Dark"|t("codefield") },
        { value: "hc-black", label: "High Constrast Dark"|t("codefield") },
    ],
    errors: field.getErrors("theme")
}) }}

{{ forms.selectField({
    label: "Code Field Default Language"|t("codefield"),
    instructions: "The language to use for the Code Editor field."|t("codefield"),
    id: "language",
    name: "language",
    value: field.language,
    options: monacoLanguages,
    errors: field.getErrors("language")
}) }}

{{ forms.checkboxField({
    label: "Single Line Code Field"|t("codefield"),
    id: "singleLineEditor",
    name: "singleLineEditor",
    checked: field.singleLineEditor,
    errors: field.getErrors("singleLineEditor")
}) }}

{{ forms.textField({
    label: "Placeholder Text"|t("codefield"),
    instructions: "The text that will be shown if the code field is empty."|t("codefield"),
    id: "placeholder",
    name: "placeholder",
    value: field.placeholder,
    errors: field.getErrors("placeholder")
}) }}

{{ forms.checkboxField({
    label: "Show Language Dropdown"|t("codefield"),
    id: "showLanguageDropdown",
    name: "showLanguageDropdown",
    checked: field.showLanguageDropdown,
    errors: field.getErrors("showLanguageDropdown")
}) }}

<hr>

<a class="fieldtoggle" data-target="availableLanguagesListWrapper">{{ "Available Languages"|t("codefield") }}</a>
<div id="availableLanguagesListWrapper" class="nested-fields hidden">
    {{ forms.checkboxSelectField({
        label: "Available Languages"|t("codefield"),
        instructions: "The languages that should be listed in the language selector dropdown menu."|t("codefield"),
        id: "availableLanguages",
        name: "availableLanguages",
        values: field.availableLanguages,
        options: monacoLanguages,
        showAllOption: true,
        errors: field.getErrors("availableLanguages")
    }) }}
</div>

<a class="fieldtoggle" data-target="advanced">{{ "Advanced"|t("app") }}</a>
<div id="advanced" class="hidden">
    {{ codeEditor.textAreaField({
        label: "Monaco Editor Settings Override"|t("codefield"),
        instructions: "JSON blob of Monaco [EditorOptions](https://microsoft.github.io/monaco-editor/api/enums/monaco.editor.EditorOption.html) that will override the default settings."|t("codefield"),
        id: "monacoEditorOptions",
        name: "monacoEditorOptions",
        value: field.monacoEditorOptions,
        errors: field.getErrors("monacoEditorOptions")
    }, "CodeField", {language: "json"}, {wrapperClass: "monaco-editor-background-frame"}) }}
</div>
